header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color:  #2E2372;
    color: white;
}

.navbar {
    display: flex;
    gap: 20px;
}

mat-icon {
    cursor: pointer;

    &:hover {
        color: lightgray;
    }
}