.container {
    width: 200px;
    height: 100vh;
    background-color: #2E2372;
    color: white;

}

.project-main-directory-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: #483d8b;
}

.project-main-directory {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;

    &:hover {
        background-color: #3A2F8C;
        cursor: pointer;
    }
}

#content {
    width: 100%;
    height: auto;
}


@media (max-width: 740px) {
  .container {
    width: 60px;
    display: flex;
    flex-direction: column; 
    align-items: center;
  }

  .project-main-directory-header h3 {
    display: none;
  }

  .project-main-directory {
    justify-content: center;
  }

  .project-main-directory h4{
    display: none;
  }
}